<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- propriétés de la Datasource : dev config -->
	<entry key="config">attentepointage.jar/test/config.xml</entry>
	<entry key="bulletinage.db.driver.class.name">com.mysql.jdbc.Driver</entry>
	<entry key="bulletinage.db.url">jdbc:mysql://${db.url}</entry>
	<entry key="bulletinage.db.name">${db.name}</entry>
	<entry key="bulletinage.db.username">${db.user}</entry>
	<entry key="bulletinage.db.password">${db.password}</entry>		
</properties>

