<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />

		</Console>

		<RollingFile name="RollingFile" filename="log/socle.log"
			filepattern="log/%d{yyyy-MM-dd}/%d{yyyyMMddHHmmss}-%i-socle.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />

			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>

		<!-- <JDBC name="databaseAppender" tableName="production.logs">
			<ConnectionFactory class="fr.argus.socle.db.DataSourceManager"
			method="getConnection" />
			<Column name="id_ocr" pattern="%id_ocr"/>
			<Column name="id_produit" pattern="%id_produit"/>
			<Column name="login_utilisateur" pattern="%login_utilisateur"/>
			<Column name="machine" pattern="%machine"/>
			<Column name="date_log" isEventTimestamp="true" />
			<Column name="description" pattern="%message" />
			<Column name="date_debut" pattern="%date_debut"/>
			<Column name="date_fin" pattern="%date_fin"/>			
		</JDBC> -->

	</Appenders>
	<Loggers>
		<Root level="warn">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
			<!-- <AppenderRef ref="databaseAppender" /> -->
		</Root>

		<!-- <Root level="trace">
			<AppenderRef ref="databaseAppender" />
		</Root> -->
	</Loggers>
</Configuration>


